biopython==1.70
certifi==2020.12.5
chardet==4.0.0
idna==2.10
celery==5.1.2
Cython==0.29.21
Flask==1.1.1
Flask-RESTful==0.3.7
gunicorn==19.9.0
numpy==1.19.4
pandas==1.1.5
python-dateutil==2.8.1
pytz==2020.4
redis==3.5.3
requests==2.25.1
scipy==1.5.4
sqlalchemy==1.4.25
six==1.15.0
Theano==1.0.3
urllib3==1.26.2
