.dev-page{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}

.img-cont{
    text-align: center;
    display: inline-block;
    margin: auto;
    max-width: 52em;
    max-height: 600px
}

.img{
    max-width: 300px;
    max-height: 400px;
    padding: 30px
}

.text-cont{
    margin:auto;
    max-width: 52em;
}

#wrapper{
 text-align:center;
}